:root{

    font-size: 18px;
    font-family: 'Lato', sans-serif;

}

body{

    background-color: #121212;
    color:white;

}


.container{

    width: 80%;
    max-width: 30rem;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 6vh;


}


.back {

    text-decoration: none;
    color:white;
    font-family: Arial, Helvetica, sans-serif;


}

.card {

    padding: 1.5rem;
    margin-top:1rem;
    border-radius:5px;
    

}

.card-title {

    font-size:1rem;
    text-decoration: none;
    color: #01FFCD;

  
    
}

.descr {

    color: grey;

}

